<a href="https://colab.research.google.com/github/nuwanlakshitha/ML/blob/master/ML_xgboost_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import itertools
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import NullFormatter
import pandas as pd
import numpy as np
import matplotlib.ticker as ticker
from sklearn import preprocessing
%matplotlib inline

In [3]:
df = pd.read_csv('/content/drive/My Drive/ML/train.csv')
df

          tripid  additional_fare  duration  ...  drop_lon    fare    label
0      189123628             10.5     834.0  ...   79.8783  270.32  correct
1      189125358             10.5     791.0  ...   79.8923  197.85  correct
2      189125719             10.5    1087.0  ...   79.9146  301.64  correct
3      189127273             10.5     598.0  ...   79.8971   82.30  correct
4      189128020              NaN       NaN  ...   79.9290  358.39  correct
...          ...              ...       ...  ...       ...     ...      ...
17171  213803193             10.5     838.0  ...   80.6557  198.26  correct
17172  213812756             10.5    2151.0  ...   79.9389  581.23  correct
17173  213813930             10.5     263.0  ...   79.9017   76.20  correct
17174  213815405             10.5     858.0  ...   79.9010  133.31  correct
17175  213817296             10.5     262.0  ...   79.9374   98.57  correct

[17176 rows x 14 columns]

In [4]:
# df['pickup_time'] = pd.to_datetime(df['pickup_time'])
# df['drop_time'] = pd.to_datetime(df['drop_time'])
# df

def date_time_extractor(d):
  date_time_columns = ['drop_time', 'pickup_time']
  for column in date_time_columns:
    # d.insert(d.columns.get_loc(column), column+'_year', pd.DatetimeIndex(d[column]).year)
    # d.insert(d.columns.get_loc(column), column+'_month', pd.DatetimeIndex(d[column]).month)
    # d.insert(d.columns.get_loc(column), column+'_day', pd.DatetimeIndex(d[column]).day)
    d.insert(d.columns.get_loc(column), column+'_hour', pd.DatetimeIndex(d[column]).hour)
    d.insert(d.columns.get_loc(column), column+'_minute', pd.DatetimeIndex(d[column]).minute)
    del d[column]

date_time_extractor(df)
df

          tripid  additional_fare  duration  ...  drop_lon    fare    label
0      189123628             10.5     834.0  ...   79.8783  270.32  correct
1      189125358             10.5     791.0  ...   79.8923  197.85  correct
2      189125719             10.5    1087.0  ...   79.9146  301.64  correct
3      189127273             10.5     598.0  ...   79.8971   82.30  correct
4      189128020              NaN       NaN  ...   79.9290  358.39  correct
...          ...              ...       ...  ...       ...     ...      ...
17171  213803193             10.5     838.0  ...   80.6557  198.26  correct
17172  213812756             10.5    2151.0  ...   79.9389  581.23  correct
17173  213813930             10.5     263.0  ...   79.9017   76.20  correct
17174  213815405             10.5     858.0  ...   79.9010  133.31  correct
17175  213817296             10.5     262.0  ...   79.9374   98.57  correct

[17176 rows x 16 columns]

In [5]:
from math import sin, cos, sqrt, atan2, radians

def distance_calculator(d):
  distances = []
  for index, record in d.iterrows():
    lat1 = radians(record['pick_lat'])
    lon1 = radians(record['pick_lon'])
    lat2 = radians(record['drop_lat'])
    lon2 = radians(record['drop_lon'])
    d_lat = lat2-lat1
    d_lon = lon2-lon1

    a = sin(d_lat/2)**2 +cos(lat1)*cos(lat2)*sin(d_lon/2)**2
    c = 2*atan2(sqrt(a), sqrt(1-a))

    distances.append(round(6373*c, 2))
  del d['pick_lat']
  del d['pick_lon']
  del d['drop_lat']
  del d['drop_lon']
  return distances

distances = distance_calculator(df)
df.insert(df.columns.get_loc('fare'), 'distance', distances)
df

          tripid  additional_fare  duration  ...  distance    fare    label
0      189123628             10.5     834.0  ...      5.09  270.32  correct
1      189125358             10.5     791.0  ...      3.17  197.85  correct
2      189125719             10.5    1087.0  ...      6.31  301.64  correct
3      189127273             10.5     598.0  ...      0.86   82.30  correct
4      189128020              NaN       NaN  ...      8.15  358.39  correct
...          ...              ...       ...  ...       ...     ...      ...
17171  213803193             10.5     838.0  ...      2.11  198.26  correct
17172  213812756             10.5    2151.0  ...     10.87  581.23  correct
17173  213813930             10.5     263.0  ...      1.05   76.20  correct
17174  213815405             10.5     858.0  ...      2.88  133.31  correct
17175  213817296             10.5     262.0  ...      2.12   98.57  correct

[17176 rows x 13 columns]

In [6]:
df.replace(to_replace=['correct', 'incorrect'], value=[1, 0], inplace=True)
df['label'].value_counts()

1    15495
0     1681
Name: label, dtype: int64

In [7]:
del df['tripid']
# del df['drop_time']
# del df['pickup_time']
# del df['pick_lat']
# del df['pick_lon']
# del df['drop_lat']
# del df['drop_lon']
df

       additional_fare  duration  meter_waiting  ...  distance    fare  label
0                 10.5     834.0           56.0  ...      5.09  270.32      1
1                 10.5     791.0           47.0  ...      3.17  197.85      1
2                 10.5    1087.0           80.0  ...      6.31  301.64      1
3                 10.5     598.0          271.0  ...      0.86   82.30      1
4                  NaN       NaN            NaN  ...      8.15  358.39      1
...                ...       ...            ...  ...       ...     ...    ...
17171             10.5     838.0           93.0  ...      2.11  198.26      1
17172             10.5    2151.0          428.0  ...     10.87  581.23      1
17173             10.5     263.0            9.0  ...      1.05   76.20      1
17174             10.5     858.0          115.0  ...      2.88  133.31      1
17175             10.5     262.0           21.0  ...      2.12   98.57      1

[17176 rows x 12 columns]

In [8]:
X = df.columns
X = df[X[0:len(df.columns)-1]]
X

       additional_fare  duration  ...  distance    fare
0                 10.5     834.0  ...      5.09  270.32
1                 10.5     791.0  ...      3.17  197.85
2                 10.5    1087.0  ...      6.31  301.64
3                 10.5     598.0  ...      0.86   82.30
4                  NaN       NaN  ...      8.15  358.39
...                ...       ...  ...       ...     ...
17171             10.5     838.0  ...      2.11  198.26
17172             10.5    2151.0  ...     10.87  581.23
17173             10.5     263.0  ...      1.05   76.20
17174             10.5     858.0  ...      2.88  133.31
17175             10.5     262.0  ...      2.12   98.57

[17176 rows x 11 columns]

In [9]:
y = df['label'].values
y

array([1, 1, 1, ..., 1, 1, 1])

In [0]:
from numpy import nan
from numpy import isnan
from sklearn.impute import SimpleImputer

imp_features = [['additional_fare', 'duration', 'meter_waiting', 'fare']]
imp_features2 = [['meter_waiting_fare', 'meter_waiting_till_pickup']]

for feature in imp_features2:
  imputer = SimpleImputer(missing_values=nan, strategy='most_frequent')
  X[feature] = imputer.fit_transform(X[feature].values)

for feature in imp_features:
  imputer = SimpleImputer(missing_values=nan, strategy='mean')
  X[feature] = imputer.fit_transform(X[feature].values)
X

In [0]:
# from sklearn.model_selection import train_test_split

# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=6)
# X_train

In [23]:
from xgboost import XGBClassifier
model = XGBClassifier(learning_rate=0.2)
model.fit(X, y)
# model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.2, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [0]:
# from sklearn.metrics import jaccard_similarity_score
# from sklearn.metrics import f1_score
# from sklearn.metrics import log_loss
# from sklearn.model_selection import cross_val_score
# from sklearn.neighbors import KNeighborsClassifier

# X_train, y_train = X,y

# bestScore=0.0
# accList=[]
# for k in range(1,15):
#     clf_knn = KNeighborsClassifier(n_neighbors=k,algorithm='auto')
    
#     scores = cross_val_score(clf_knn, X_train, y_train, cv=10)
#     score=scores.mean()
#     accList.append(score)
    
#     if score > bestScore:
#         bestScore=score
#         best_clf=clf_knn
#         bestK=k
# print("Best K is :",bestK,"| Cross validation Accuracy :",bestScore)
# clf_knn=best_clf

In [0]:
# clf_knn.fit(X_train,y_train)
# y_pred=best_clf.predict(X_train)
# trainScores={}

In [0]:
# trainScores['KNN-jaccard']=jaccard_similarity_score(y_train, y_pred)
# trainScores['KNN-f1-score']=f1_score(y_train, y_pred, average='weighted')
# trainScores

In [0]:
# plt.plot(range(1,15),accList)
# plt.xlabel('K')
# plt.ylabel('CV Accuracy')
# plt.show()

In [0]:
# from sklearn.metrics import roc_auc_score

# knn_pred=model.predict(X_test)
# roc_auc_score(y_test, knn_pred)

In [24]:
test_df = pd.read_csv('/content/drive/My Drive/ML/test.csv')
test_X = test_df[test_df.columns]
test_X

         tripid  additional_fare  duration  ...  drop_lat  drop_lon     fare
0     213284604             10.5       924  ...   6.77490   79.8840   289.27
1     213286352             10.5      4249  ...   6.55091   79.9706  1912.70
2     213293973             10.5      1552  ...   6.90539   79.8989   394.00
3     213294622             10.5       462  ...   6.80401   79.9407   154.32
4     213298687             10.5       814  ...   6.98875   79.8914   147.47
...         ...              ...       ...  ...       ...       ...      ...
8571  222856243             10.5      1723  ...   6.85588   79.9214   388.48
8572  222857785             10.5      1378  ...   6.92112   79.8980   379.85
8573  222858416             10.5       418  ...   6.83868   79.9083   112.79
8574  222858691             10.5      1604  ...   6.93159   79.9145   248.46
8575  222860703             10.5      1698  ...   6.87020   79.9340   339.63

[8576 rows x 13 columns]

In [25]:
date_time_extractor(test_X)
dist = distance_calculator(test_X)
test_X.insert(test_X.columns.get_loc('fare'), 'distance', dist)
del test_X['tripid']
test_X

      additional_fare  duration  ...  distance     fare
0                10.5       924  ...      6.71   289.27
1                10.5      4249  ...     41.57  1912.70
2                10.5      1552  ...      5.92   394.00
3                10.5       462  ...      3.30   154.32
4                10.5       814  ...      2.59   147.47
...               ...       ...  ...       ...      ...
8571             10.5      1723  ...      3.94   388.48
8572             10.5      1378  ...      7.52   379.85
8573             10.5       418  ...      2.06   112.79
8574             10.5      1604  ...      3.90   248.46
8575             10.5      1698  ...      5.44   339.63

[8576 rows x 11 columns]

In [0]:
# test_X['drop_time'] = pd.to_datetime(test_X['drop_time'])
# test_X['pickup_time'] = pd.to_datetime(test_X['pickup_time'])

In [0]:
# imp_features = [['additional_fare','duration','meter_waiting','meter_waiting_fare','meter_waiting_till_pickup','pick_lat','pick_lon','drop_lat','drop_lon','fare']]

# for feature in imp_features:
#   imputer = SimpleImputer(missing_values=nan, strategy='mean')
#   transformed_values = imputer.fit_transform(test_df[feature].values)
# test_df

In [0]:
# test_df['duration'] = test_df['duration'].astype(np.float64)
# test_df['meter_waiting'] = test_df['meter_waiting'].astype(np.float64)
# test_df['meter_waiting_till_pickup'] = test_df['meter_waiting_till_pickup'].astype(np.float64)
# test_df

In [0]:
# test_df['label'] = pd.to_numeric(test_df['label'])
# test_df

In [26]:
xgb_pred = model.predict(test_X)
test_df['prediction'] = xgb_pred
test_df

         tripid  additional_fare  duration  ...  drop_lon     fare  prediction
0     213284604             10.5       924  ...   79.8840   289.27           1
1     213286352             10.5      4249  ...   79.9706  1912.70           1
2     213293973             10.5      1552  ...   79.8989   394.00           1
3     213294622             10.5       462  ...   79.9407   154.32           1
4     213298687             10.5       814  ...   79.8914   147.47           1
...         ...              ...       ...  ...       ...      ...         ...
8571  222856243             10.5      1723  ...   79.9214   388.48           1
8572  222857785             10.5      1378  ...   79.8980   379.85           1
8573  222858416             10.5       418  ...   79.9083   112.79           1
8574  222858691             10.5      1604  ...   79.9145   248.46           1
8575  222860703             10.5      1698  ...   79.9340   339.63           1

[8576 rows x 14 columns]

In [0]:
# knn_pred=clf_knn.predict(test_X)
# test_df['prediction'] = knn_pred
# test_df

In [27]:
test_df['prediction'].value_counts()

1    8260
0     316
Name: prediction, dtype: int64

In [28]:
submission_df = test_df[['tripid','prediction']]
submission_df

         tripid  prediction
0     213284604           1
1     213286352           1
2     213293973           1
3     213294622           1
4     213298687           1
...         ...         ...
8571  222856243           1
8572  222857785           1
8573  222858416           1
8574  222858691           1
8575  222860703           1

[8576 rows x 2 columns]

In [0]:
submission_df.to_csv('/content/drive/My Drive/ML/submission_9.csv', index=True)